@model IEnumerable<BusinessObject.Models.Product>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shoppers &mdash; Colorlib e-Commerce Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">


    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">

</head>
<body>

    <div class="site-wrap">
        <header class="site-navbar" role="banner">
            <div class="site-navbar-top">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
                            <form asp-controller="Shop" asp-action="Index" method="get">
                             @*   <span class="icon icon-search2"></span>*@
                                 <div class="form-group" style="display:flex">
                                <input type="text" name="search" class="form-control border-0" placeholder="Search">
                                <input type="submit" value="Search" style="width:70px" />
                                </div>
                            </form>
                        </div>

                        <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                            <div class="site-logo">
                                <a asp-controller="Shop" asp-action="Index" class="js-logo-clone">Shoppers</a>
                            </div>
                        </div>

                        <div class="col-6 col-md-4 order-3 order-md-3 text-right">
                            <div class="site-top-icons">
                                <ul>
                                    @if (ViewBag.user == null)
                                    {
                                        <li><a asp-controller="Login" asp-action="Index"><span>Login</span></a></li>
                                        <li><a asp-controller="Register" asp-action="Index"><span>Register</span></a></li>
                                    }
                                    else
                                    {
                                        <li><a asp-controller="Profile" asp-action="Index" asp-route-id="@ViewBag.userId"><span class="icon icon-person"></span></a></li>
                                        <li><a asp-controller="Orders" asp-action="MyOrder" asp-route-userId="@ViewBag.userId"><span class="fas fa-bars"></span></a></li>
                                        <li>
                                            <a asp-controller="Carts" asp-action="Index" asp-route-id="@ViewBag.userId" class="site-cart">
                                                <span class="icon icon-shopping_cart"></span>
                                                @*<span class="count">2</span>*@
                                            </a>
                                        </li>
                           
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Logout" asp-action="Index">Logout(@ViewBag.user)</a>
                                    
                                    }
                                    
                         @*           <li><a href="#"><span class="icon icon-heart-o"></span></a></li>
                                    <li>
                                        <a href="cart.html" class="site-cart">
                                            <span class="icon icon-shopping_cart"></span>
                                            <span class="count">2</span>
                                        </a>
                                    </li>*@
                                    <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <nav class="site-navigation text-right text-md-center" role="navigation">
                <div class="container">
                    <ul class="site-menu js-clone-nav d-none d-md-block">
             
                        <li class="active"><a asp-controller="Shop" asp-action="Index">Shop</a></li>
                 
                    </ul>
                </div>
            </nav>
        </header>

        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><strong class="text-black">Shop</strong></div>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container">

                <div class="row mb-5">
                    <div class="col-md-9 order-2">

                        <div class="row">
                            <div class="col-md-12 mb-5">
                                <div class="float-md-left mb-4"><h2 class="text-black h5">Shop All</h2></div>
                                <div class="d-flex">
                                    <div class="dropdown mr-1 ml-md-auto">
                                        <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Desc Sort 
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                                            @{

                                                int s = 1;
                                                int s1 = 2;

                                                <a class="dropdown-item" asp-action="Index" asp-route-sort="@s">Name</a>
                                                <a class="dropdown-item" asp-action="Index" asp-route-sort="@s1">Price</a>
                                            }
                                        </div>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuReference" data-toggle="dropdown">Asc sort</button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                                                @{

                                                    int s3 = 3;
                                                    int s4 = 4;

                                                    <a class="dropdown-item" asp-action="Index" asp-route-sort="@s3">Name</a>
                                                    <a class="dropdown-item" asp-action="Index" asp-route-sort="@s4">Price</a>
                                                }
                                            </div>
                                        </div>
                                        
                                   
                                </div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            @foreach(var item in Model){
                            <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                                <div class="block-4 text-center border">
                                    <figure class="block-4-image">
                                            <a asp-action="Detail" asp-route-id="@item.ProductId"><img style="width:300px;height:300px" src="@item.Image" alt="Image placeholder" class="img-fluid"></a>
                                    </figure>
                                    <div class="block-4-text p-4">
                                            <h3><a asp-action="Detail" asp-route-id="@item.ProductId">@item.ProductName</a></h3>
                                        <p class="mb-0">Finding perfect Sneaker</p>
                                            @{
                                                double? price = item.Price;
                                                if(item.Discount != 0)
                                                {
                                                    price = price * item.Discount;
                                                }
                                                
                                                string priceString = String.Format("{0:###,###,###}", price);
                                            <p class="text-primary font-weight-bold">@priceString VNĐ</p>
                                            }
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                        <div class="row" data-aos="fade-up">
                            <div class="col-md-12 text-center">
                                <div class="site-block-27">
                                    <ul>
                                    @*    <li><a href="#">&lt;</a></li>*@
                                 @*    <li class="active"><span>1</span></li>*@
                                        @for (int i = 1; i <= ViewBag.totalpage; i++)
                                        {
                                            @if(ViewBag.page == i){
                                                <li class="active"><a asp-action="Index" asp-route-sort="@ViewBag.sort" asp-route-fromPrice="@ViewBag.fromPrice" asp-route-toPrice="@ViewBag.toPrice" asp-route-brandId="@ViewBag.brandid" asp-route-search="@ViewBag.search" asp-route-currentpage="@i"><span>@i</span></a></li>
                                            }else{
                                                <li><a asp-action="Index" asp-route-sort="@ViewBag.sort" asp-route-fromPrice="@ViewBag.fromPrice" asp-route-toPrice="@ViewBag.toPrice" asp-route-brandId="@ViewBag.brandid" asp-route-search="@ViewBag.search" asp-route-currentpage="@i">@i</a></li>
                                            }
                                        }
                                       @* <li><a href="#">&gt;</a></li>*@
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 order-1 mb-5 mb-md-0">
                        <div class="border p-4 rounded mb-4">
                            <h3 class="mb-3 h6 text-uppercase text-black d-block">Brand</h3>
                            <ul class="list-unstyled mb-0">
                               
                                @foreach (var item in ViewBag.brands)
                                {
                                    <li class="mb-1"><a asp-action="Index" asp-route-brandId="@item.BrandId" class="d-flex"><span>@item.BrandName</span></a></li>
                                }
                                
                            </ul>
                        </div>

                        <div class="border p-4 rounded mb-4">
                            <div class="mb-4">
                                <h3 class="mb-3 h6 text-uppercase text-black d-block">Filter by Price</h3>
                               @* <div id="slider-range" class="border-primary"></div>
                                <input type="text" name="text" id="amount" class="form-control border-0 pl-0 bg-white" disabled="" />*@
                                <form asp-controller="Shop" asp-action="Index" method="get">
                                    <table>
                                        <tr>
                                            <td>From</td>
                                            <td> <input type="text" name="fromPrice" value="@ViewBag.fromPrice" style="width:125px;height:25px"/>  VNĐ</td>
                                        </tr>
                                       <tr>
                                            <td>To</td>
                                            <td><input type="text" name="toPrice" value="@ViewBag.toPrice" style="width:125px;height:25px" />  VNĐ</td>
                                    </tr>
                                    </table>
                                    <input type="submit"  value="Search" style="width:70px; margin-top:20px" />
                                 </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="site-footer border-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="footer-heading mb-4">Navigations</h3>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <ul class="list-unstyled">
                                    <li><a href="#">Sell online</a></li>
                                    <li><a href="#">Features</a></li>
                                    <li><a href="#">Shopping cart</a></li>
                                    <li><a href="#">Store builder</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <ul class="list-unstyled">
                                    <li><a href="#">Mobile commerce</a></li>
                                    <li><a href="#">Dropshipping</a></li>
                                    <li><a href="#">Website development</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <ul class="list-unstyled">
                                    <li><a href="#">Point of sale</a></li>
                                    <li><a href="#">Hardware</a></li>
                                    <li><a href="#">Software</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="block-5 mb-5">
                            <h3 class="footer-heading mb-4">Contact Info</h3>
                            <ul class="list-unstyled">
                                <li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
                                <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
                                <li class="email">emailaddress@domain.com</li>
                            </ul>
                        </div>

                        <div class="block-7">
                            <form action="#" method="post">
                                <label for="email_subscribe" class="footer-heading">Subscribe</label>
                                <div class="form-group">
                                    <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                                    <input type="submit" class="btn btn-sm btn-primary" value="Send">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row pt-5 mt-5 text-center">
                    <div class="col-md-12">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" class="text-primary">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>

                </div>
            </div>
        </footer>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>

    <script src="js/main.js"></script>

</body>
</html>
